/* Reset de estilos y configuraciones generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color:#fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_logo img {
    max-width: 150px;
    border: 2px solid white;
    border-radius: 10px;
}

.menu_lista {
    list-style: none;
}

.menu_item {
    display: inline;
    margin-right: 20px;
}

.menu_item a {
    color: #fff;
    text-decoration: none;
}

/*Apple world*/
.Apple_world{
    background-color: #e5e5f7;
}
.Titulo{
    text-align: center;
}
.Apple_world__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
.Apple_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.Apple_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.photo_review{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.apple_text{
    max-width: 700px;
    text-decoration: none;
    color: black;
}
.Apple_arrow{
    width: 90%;
    cursor: pointer;
}

/*Articulos*/
.articulos{
    background-color: #ade8b7;
}
.articulos_container{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    padding: 25px;
}
.articulo_body{
    background-color: #94c29c;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 15rem;
    gap:10px;
    border-radius: 10px;
    justify-content: space-between;

}
.articulo_text{
    padding:20px;
}
.articulo_enlace{
    display: inline-flex;
    width: 90%;
    background-color: #216f2fe8;
    text-decoration: none;
    color:white;
    justify-content: center;
    padding:10px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 10px;
}

.articulo_enlace:active{
    transform: scale(0.85);
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-menu {
    list-style: none;
}

.footer-menu li {
    display: inline;
    margin-right: 20px;
}

.footer-menu li a {
    color: #fff;
    text-decoration: none;
}

.social-icons {
    list-style: none;
    margin-top: 20px;
}

.social-icons li {
    display: inline;
    margin-right: 10px;
}

.social-icons li a img {
    max-width: 30px;
}

/* Estilos específicos para dispositivos tablets */
@media (max-width: 800px) {
    
    .articulos_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
    }
    
}

/*Estilos para telefonos moviles*/

@media(max-width: 360px){
    .Apple_world__container{
        display: grid;
        grid-template-columns: 50px 1fr 50px;
        gap: 1em;
        align-items: center;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .Apple_arrow{
        width: 1.5rem;
    }
    .photo_review{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
    .articulos_container{
        gap:1rem;
    }
    .articulo_body{
        width: 300px;
        height: 16rem;

    }

}


@media(max-width: 375px){
    .photo_review {
        width: 130px;
        height: 130px;
    }

}
